div.container
  div.card
    h3.title Card 1
    div.bar
      div.emptybar
      div.filledbar
    div.circle
      svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle.stroke(cx="60" cy="60" r="50")
  div.card
    h3.title Card 2
    div.bar
      div.emptybar
      div.filledbar
    div.circle
      svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle.stroke(cx="60" cy="60" r="50")
  div.card
    h3.title Card 3
    div.bar
      div.emptybar
      div.filledbar
    div.circle
      svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle.stroke(cx="60" cy="60" r="50")
  div.card
    h3.title Card 4
    div.bar
      div.emptybar
      div.filledbar
    div.circle
      svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
        circle.stroke(cx="60" cy="60" r="50")