section(class="pt-[10em] pb-[5em] px-[1em] bg-gray-100")
	div(class="caro-cont js-flickity" data-flickity-options={ "wrapAround": true, "autoPlay": true })
		each act in acts
			a(href=act.link class="caro-obj" class="border-2 rounded-lg bg-white me-2 flex flex-col items-center" style="margin-right: 1rem;display:flex;flex-direction:column;justify-content:center;align-items:center;")
				img(src=act.imgurl class="rounded-tr-lg rounded-tl-lg" style="height: 500px; width: 100%; object-fit: cover; object-position: center;")
				h3(class="p-[1em] font-semibold" style="position:relative")=act.title
