header(class="z-10 bg-[url('/static/img/header.jpg')] bg-cover border rounded-lg absolute left-[50%] translate-x-[-50%] flex gap-x-8 items-center justify-center my-5 px-7 py-3 rounded-2xl w-max",style="color:#FFFFFF;border:1px solid #3C79F5 shadow-md")
            a(href="/")
                img(class="w-10 pointer" src="/static/img/logo.png" alt="Logo")