section(id="membres" class="py-[1em] md:py-[10em] px-[1em]")
    header(class="h-max relative before:absolute before:left-0 before:h-full before:w-[8px] before:bg-green-700")
        h2(class="text-3xl md:text-4xl font-medium ml-4") Les membres 

    div(class="mt-[3em] md:mt-[7em] mx-auto")
        img(src="/static/img/membres.jpg" alt="Membres" class="w-max mx-auto")
