section(id="membres" class="py-[1em] md:py-[5em] px-[1em] bg-[#0088F8] w-100")
    header(class="h-max relative before:absolute before:left-0 before:h-full before:w-[8px] before:bg-green-700")
        h2(class="text-3xl md:text-4xl font-medium ml-4 text-white") Membres 

    div(class="mt-[3em] md:mt-[7em] mx-auto rounded-tr-lg rounded-tl-lg mr-2 mb-2")
        img(src="/static/img/membres.jpg" alt="Membres" class="w-max mx-auto")
