doctype html
html(lang="fr")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Comment Créer un beau Formulaire de Contact en HTML & CSS
link(rel="stylesheet", href="style.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
body
form
h1 Contactez-nous
div.separation
div.corps-formulaire
div.gauche
div.groupe
label Votre Prénom
input(type="text", autocomplete="off")
i.fas.fa-user
div.groupe
label Votre adresse e-mail
input(type="text", autocomplete="off")
i.fas.fa-envelope
div.groupe
label Votre téléphone
input(type="text", autocomplete="off")
i.fas.fa-mobile
div.droite
div.groupe
label Message
textarea(placeholder="Saisissez ici...")
div.pied-formulaire(text-align="center")
button Envoyer le message