extends layout

block content
  div(class="pt-[8em] bg-blue-950")
  div.mt-5
    form.max-w-sm.mx-auto
      h1.text-green-500.text-3xl.font-bold.mb-6 Contactez-nous
      div.bg-gray-300.h-px
      div.grid.grid-cols-1.md
        div.mb-4
          label.block.mb-2.font-bold(for="prenom") Votre Prénom
          input#prenom(name="prenom" type="text" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-green-500")
        div.mb-4
          label.block.mb-2.font-bold(for="email") Votre adresse e-mail
          input#email(name="email" type="text" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-green-500")
        div.mb-4
          label.block.mb-2.font-bold(for="telephone") Votre téléphone
          input#telephone(name="telephone" type="text" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-green-500")
        div.mb-4
          label.block.mb-2.font-bold(for="message") Message
          textarea#message(name="message" class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:border-green-500")
      div.mt-6.text-center
        button(type="submit" class="bg-green-500 text-white px-4 py-2 rounded") Envoyer le message
