extends layout
block content
  section(class="py-[8em]")
    div(class="px-[5em]")
      each ev in events
        div(class="grid grid-cols-2 items-center gap-[0.4em] py-1")
          img(src=ev.imgurl)
          div(class="flex flex-col gap-[1em]")
            h3=ev.title
            p(class="whitespace-pre-line")=ev.description
            a(href=ev.link class="cursor-pointer bg-blue-500 w-max text-white font-bold p-1 rounded-md") Savoir plus