extends layout

block content

    div(class="relative bg-[url('/static/img/hero.jpg')] bg-cover before-content-['*']  before:absolute before:inset-0 min-h-[100vh] flex justify-center items-center")
        div(class="z-10 text-center bg-white/80 p-8 border rounded-lg",style="background-color: white;")
            div(class="relative")
                h1(class="gradient-text text-6xl text-white font-bold",style="color:#0095FF;") Société Marocaine de Santé Digitale                
            div(class="ocean")
                div(class="wave")
                div(class="wave")


    include includes/partenariats.pug
    include includes/membres.pug

