extends layout
block scripts
    link(rel="stylesheet" href="/static/css/waves.css")

block content
    div(class="relative bg-[url('/static/img/hero.jpg')] bg-cover before-content-['*']  before:absolute before:inset-0 min-h-[100vh] flex justify-center items-center")
        div(style="height: 100%;width: 100%;margin-top: 5rem;")
            include includes/activitecarousel.pug
        div(class="ocean")
            div(class="wave")
            div(class="wave")       
    include includes/videos.pug

        

