extends layout

block content
    <div class="relative bg-[url('/static/img/hero.jpg')] bg-cover before-content-['*'] before:bg-black/60 before:absolute before:inset-0 min-h-[100vh] flex justify-center items-center">
        <div class="z-10 text-center bg-white/20 p-8 border rounded-lg animate-pulse">
            <h1 class="text-6xl text-white font-bold animate-pulse duration-1000 delay-500 mb-4 text-blue-500">Société Marocaine De Santé Digitale</h1>
            <h2 class="text-2xl text-white font-bold animate-bounce duration-1000 delay-700">La santé numérique au service de la société</h2>
        </div>
    </div>
