extends layout

block content
    h1(class="text-red-800")= title
    p Welcome to this website with everything you need #{ha}
    a(href="https://google.com", class="text-blue-700 underline") Click this link
