<!DOCTYPE html>
<html lang="en">
    <head>
        <title>#{title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <header class="flex gap-x-32 items-center justify-center my-5 px-7 py-3 border-4 border-green-900/60 w-max m-auto rounded-2xl">
            <a href="/">
                <img class="w-10 pointer" src="/static/img/logo.png" alt="Logo"/>
            </a>

            <nav class="flex gap-x-20">
               <div>
                <button class="flex items-center gap-x-3">Production Scientifique <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span></button>
               </div>

               <a href="#">Partenariats</a>
               <a href="#">Membres</a>
               <a href="#">Activités</a>
               <a href="#">Médias</a>
               <a href="#">À propos</a>
               <a href="#">Contact</a>
            </nav>
        </header>
        block content
    </body>
</html>
