<!DOCTYPE html>
html(lang="en" class="scroll-smooth")
    head
        title=title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/style.css")
        link(rel="stylesheet",href="/static/css/flickity.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
        script(src="/static/js/flickity.pkgd.min.js" async)
        script(src="/static/js/main.js" defer)
        style(type="text/css").
            .btn-ps:hover>#options {display: block;}
        block scripts
    body
        include includes/header
        block content
    
    
