extends layout.pug

block content
  div(class="container mx-auto px-4 py-[116px] bg-emerald-400  text-9xl font-black")
    h1(class="text-2xl font-bold.mb-4 text-center  ") Bienvenue sur notre site web !
  div(class="container mx-auto px-4 py-[135px] text-left space-y-4")
    div.flex
      div(class="")
      p.text-lg La santé digitale constitue l’un des axes prometteurs pour établir un environnement capable de faire face à des systèmes de santé complexes, notamment, en matière de pénurie en ressources humaines, d’accès aux soins, et de généralisation de la couverture sanitaire universelle. Son instauration nécessite l’introduction des innovations dans les systèmes de santé, en incluant des changements tant au niveau organisationnel que technique dans un écosystème avec de plus en plus de parties prenantes.
      br
      p Dans ce cadre, le Maroc a déployé des efforts colossaux pour mettre les innovations en santé digitale dans les stratégies du développement durable et pour contribuer à la mise en œuvre de services de santé intégrés.
      br
      p Au Maroc, la Santé numérique est identifiée comme un axe prioritaire d’intervention en appui au Plan Santé 2025. Sachant que le Maroc prévoit l’engagement de lourds investissements d’innovation et d’expérimentation en télémédecine et en santé digitale allant de l’hôpital numérique jusqu’à la création de plateformes de télémédecine dans les 12 régions du Royaume.
      br
      p Dans cette optique et afin de participer auxdits efforts, l’Association Marocaine de Santé Digitale a affiché sa volonté de promouvoir la recherche scientifique et l’innovation digitale au service de la santé, par l’établissement d’un plan d’action stratégique en se basant principalement sur la création d’un écosystème pluridisciplinaire, contenant les différents acteurs agissant dans le domaine de la santé afin de contribuer dans la production scientifique, la valorisation de la recherche scientifique, moyennant le dépôt des brevets de recherche et l’accompagnement des porteurs de projets dans la création des start-up, dans le domaine d’intelligence artificielle et nouvelles technologies en faveur de la santé.
      br
      p Les compétences scientifiques et techniques de qualité dont dispose l’ENSAM permettront de contribuer à la promotion de la recherche scientifique et technique en la matière.
